<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>전기차 충전소 위치</title>
</head>

<body>

<div class="map_wrap">
    <th:block th:replace="/header"></th:block>
    <div id="map" style="width:100%;height:900px;"></div>

    <div class="category">
        <ul>
            <li id="EVChargerStationMenu" onclick="changeMarker('EVChargerStaion')">
                <span class="ico_comm ico_EVChargerStation"></span>
                충전소
            </li>
            <li id="repairShopMenu" onclick="changeMarker('repairShop')">
                <span class="ico_comm ico_repairShop"></span>
                정비소
            </li>
        </ul>
    </div>

    <script th:inline="javascript">

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 4 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
        var mapTypeControl = new kakao.maps.MapTypeControl();

        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

        // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
        if (navigator.geolocation) {

            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function(position) {

                var lat = position.coords.latitude, // 위도
                    lon = position.coords.longitude; // 경도

                var locPosition = new kakao.maps.LatLng(lat, lon);

                map.setCenter(locPosition);

            });

        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

            var locPosition = new kakao.maps.LatLng(33.450701, 126.570667);

            map.setCenter(locPosition);
        }

        //마커를 담기위한 배열 충전소 마커와 정비소 마커
        var chargerMarkers = [];
        var repairShopMarkers = [];

        //마커 사이즈, 이미지
        var imageSize = new kakao.maps.Size(30, 41);
        var blueMarkerImg = "/img/markerblue01.png";
        var repairShopImg = "img/repairshopmarker02.png"

        //카카오 MarkerImage 객체에 사이즈와 이미지를 넣기
        var markerImage = new kakao.maps.MarkerImage(blueMarkerImg, imageSize);
        var repairShopMarkerImage = new kakao.maps.MarkerImage(repairShopImg, imageSize);

        // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            zIndex: 1,
            removable : true
        });

        changeMarker('EVChargerStaion');

        //============================================== DB에서 EVStation 테이블 값을 모두 가져와서 반복문으로 마커를 생성하는 부분 =========================================
        var stations = new Array();
        stations = [[${stations}]];

        for (var i = 0; i < stations.length; i++) {
            var station = stations[i];

            var coords = new kakao.maps.LatLng(station['latitude'], station['longitude']);

            var marker = new kakao.maps.Marker({
                //map: map,
                position: coords,
                image : markerImage
            });

            (function (marker, name, roadAddress, latitude, longitude, chargertype, useTime,stat,statUpdDt,busiCall,parkingFree,powerType) {
                kakao.maps.event.addListener(marker, 'mouseover', function () {
                    displayInfowindow(marker, name, "충전소  ");
                });

                //마커 클릭 이벤트, 마커의 위도 경도 나타냄
                kakao.maps.event.addListener(marker, 'click', function () {
                    //displayInfowindow_coord(marker);

                    //html로 표시될 인포 윈도우의 내용
                    setEVChargerInfowindow(infowindow, name, roadAddress, latitude, longitude, chargertype, useTime,stat,statUpdDt,busiCall,parkingFree,powerType);
                });
            })(marker, station['name'], station['roadAddress'], station['latitude'],station['longitude'],
                station['chargertype'],station['useTime'],station['stat'],station['statUpdDt'],station['busiCall'],station['parkingFree'] ,station['powerType']);

            chargerMarkers.push(marker)
        }
        //=========================================================================================================================================================

        //============================================== DB에서 repairShop 테이블 값을 모두 가져와서 반복문으로 마커를 생성하는 부분 =========================================
        var shops = new Array();
        shops = [[${repairshops}]];

        for (var i = 0; i < shops.length; i++) {
            var shop = shops[i];

            var coords = new kakao.maps.LatLng(shop['latitude'], shop['longitude']);

            var marker = new kakao.maps.Marker({
                //map: map,
                position: coords,
                image : repairShopMarkerImage
            });

            (function (marker, name, roadAddress, phonenumber, latitude, longtitude) {
                kakao.maps.event.addListener(marker, 'mouseover', function () {
                    displayInfowindow(marker, name, "정비소");
                });

                //마커 클릭 이벤트, 마커의 위도 경도 나타냄
                kakao.maps.event.addListener(marker, 'click', function () {
                    //displayInfowindow_coord(marker);

                    //html로 표시될 인포 윈도우의 내용
                    setRepairShopInfowindow(infowindow, name, roadAddress, phonenumber, latitude, longtitude);
                });
            })(marker, shop['name'],shop['roadAddress'],shop['phoneNumber'],shop['latitude'],shop['longtitude']);

            repairShopMarkers.push(marker)
        }
        //=====================================================================================================================================================

        var EVStationClusterer;
        var repairShopClusterer;

        //클러스터로 최적화를 진행합니다. 클러스터란 맵을 축소하면 입접한 마커들은 묶어서 보여주는 기능입니다.
        function setEVStationMarkers() {
            EVStationClusterer = new kakao.maps.MarkerClusterer({
                map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
                markers: chargerMarkers,
                averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
                minLevel: 8, // 클러스터 할 최소 지도 레벨
                disableClickZoom: false
            });
        }

        //클러스터로 최적화를 진행합니다. 클러스터란 맵을 축소하면 입접한 마커들은 묶어서 보여주는 기능입니다.
        function setRepairShopMarkers() {
            repairShopClusterer = new kakao.maps.MarkerClusterer({
                map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
                markers: repairShopMarkers,
                averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
                minLevel: 8, // 클러스터 할 최소 지도 레벨
                disableClickZoom: false
            });
        }

        var Clusterer;
        function setMarkers(markers) {
            Clusterer = new kakao.maps.MarkerClusterer({
                map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
                markers: markers,
                averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
                minLevel: 8, // 클러스터 할 최소 지도 레벨
                disableClickZoom: false
            });
        }

        function changeMarker(type){

            var EVChargerStaionMenu = document.getElementById('EVChargerStationMenu');
            var repairShopMenu = document.getElementById('repairShopMenu');

            // 충전소 카테고리가 클릭됐을 때
            if (type === 'EVChargerStaion') {

                // 충전소 카테고리를 선택된 스타일로 변경하고
                EVChargerStaionMenu.className = 'menu_selected';

                // 정비소 카테고리는 선택되지 않은 스타일로 바꿉니다
                repairShopMenu.className = '';
                /*if(repairShopClusterer)
                {
                    repairShopClusterer.clear();
                }
                setEVStationMarkers();*/

                if(Clusterer) {
                    Clusterer.clear();
                }
                setMarkers(chargerMarkers);

            } else if (type === 'repairShop') { // 정비소 카테고리가 클릭됐을 때

                EVChargerStaionMenu.className = '';
                repairShopMenu.className = 'menu_selected';

                /*if(EVStationClusterer)
                {
                    EVStationClusterer.clear();
                }
                setRepairShopMarkers();*/

                if(Clusterer) {
                    Clusterer.clear();
                }
                setMarkers(repairShopMarkers);
            }
        }

        //마우스 올렸을때의 인포윈도우
        function displayInfowindow(marker, name, value1) {
            var content = '<div style="padding:5px;z-index:1;">' + name + value1 + '</div>';

            infowindow.setContent(content);
            infowindow.open(map, marker);
        }

        //확대 또는 축소가 되면 인포 윈도우가 사라지도록 이벤트 등록
        kakao.maps.event.addListener(map, 'zoom_changed', function() {
            infowindow.close();
        });

        //충전소 인포윈도우 생성
        function setEVChargerInfowindow(infowindow, name, roadAddress, latitude, longitude,
                                        chargerType, useTime, stat, statUpdDt, busiCall, parkingFree, powerType)
        {
            var link = "https://map.kakao.com/link/map/" + name +","+latitude+","+longitude;

            var link2 = "https://map.kakao.com/link/to/" + name +","+latitude+","+longitude;


            var statString;

            switch ( stat ) {
                case '0':
                    statString = "정보없음";
                    break;
                case '1':
                    statString = "<a style=\"color:#f61a1a;\"> 통신이상 </a>";
                    break;
                case '2':
                    statString = "<a style=\"color:#009900;\"> 사용가능 </a>";
                    break;
                case '3':
                    statString = "<a style=\"color:#ffa700;\"> 사용중 </a>";
                    break;
                case '4':
                    statString = "<a style=\"color:#f61a1a;\"> 운영중지 </a>";
                    break;
                case '5':
                    statString = "<a style=\"color:#9f9f9f;\"> 점검중 </a>";
                    break;
                case '9':
                    statString = "상태미확인";
                    break;

                default:
                    statString = "정보없음";
            }

            var parkingString;

            switch ( parkingFree ) {
                case 'Y':
                    parkingString = "유료";
                    break;
                case 'N':
                    parkingString = "무료";
                    break;
            }

            var chargerTypeString;

            switch ( chargerType ) {
                case '01':
                    chargerTypeString = ":DC차데모";
                    break;
                case '02':
                    chargerTypeString = "AC완속";
                    break;
                case '03':
                    chargerTypeString = "DC차데모+AC3상";
                    break;
                case '04':
                    chargerTypeString = "DC콤보";
                    break;
                case '05':
                    chargerTypeString = "DC차데모+DC콤보";
                    break;
                case '06':
                    chargerTypeString = "DC차데모+AC3상+DC콤보";
                    break;
                case '07':
                    chargerTypeString = "AC3상";
                    break;

                default:
                    chargerTypeString = "정보없음";
            }

            let Time = [[${currentTime}]];

            var chargingTime;

            switch ( powerType ) {
                case '급속(50kW)':
                    chargingTime = 100;
                    break;
                case '급속(100kW동시)':
                    chargingTime = 60;
                    break;

                case '급속(100kW멀티)':
                    chargingTime = 60;
                    break;

                case '급속(200kW동시)':
                    chargingTime = 50;
                    break;

                case '급속(200kW멀티)':
                    chargingTime = 50;
                    break;

                case '급속(400kW동시)':
                    chargingTime = 40;
                    break;

                case '급속(400kW멀티)':
                    chargingTime = 40;
                    break;

                default:
                    chargerTypeString = 120;
            }

            var predictionTime = String(chargingTime - parseInt(parseInt(Time) - parseInt(statUpdDt.substring(0,12))));
            202102060557



            if(stat == '3')
            {
                infowindow.setContent('<div align="center" style="padding:5px;font-size:15px;">'+ name + " 충전소" + "<br>" + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + '<strong>주소 : </strong>'  + roadAddress + "<br>" + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + '<strong>이용가능시간 : </strong>'  + useTime + "<br>" + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + '<strong>충전기 타입 : </strong>'  + chargerTypeString + "<br>" + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + '<strong>충전량 : </strong>'  + powerType + "<br>" + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + '<strong>충전기 상태 : </strong>'  + statString + "<br>" + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + '<strong>예상 사용가능 시간 : </strong>'  + predictionTime + " 분후" + "<br>" + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + '<strong>관리자 전화번호 : </strong>' + '<a style="color:#009900;">' +busiCall+'</a>'+ "<br>" + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + '<strong>주차장 : </strong>'  + parkingString+ "<br>" + '</div>' +
                    '<div><a class="link1" href="" style="color:blue; border: 1px solid cadetblue;" target="_blank" >큰지도보기 </a> <a class="link2" href="" style="color:blue; border: 1px solid cadetblue;" target="_blank"> 길찾기</a></div><br>');

                $('.link1').prop('href', link);
                $('.link2').prop('href', link2);
            }else
            {
                infowindow.setContent('<div align="center" style="padding:5px;font-size:15px;">'+ name + " 충전소" + "<br>" + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + '<strong>주소 : </strong>'  + roadAddress + "<br>" + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + '<strong>이용가능시간 : </strong>'  + useTime + "<br>" + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + '<strong>충전기 타입 : </strong>'  + chargerTypeString + "<br>" + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + '<strong>충전량 : </strong>'  + powerType + "<br>" + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + '<strong>충전기 상태 : </strong>'  + statString + "<br>" + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + '<strong>관리자 전화번호 : </strong>' + '<a style="color:#009900;">' +busiCall+'</a>'+ "<br>" + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + '<strong>주차장 : </strong>'  + parkingString+ "<br>" + '</div>' +
                    '<div><a class="link1" href="" style="color:blue; border: 1px solid cadetblue;" target="_blank" >큰지도보기 </a> <a class="link2" href="" style="color:blue; border: 1px solid cadetblue;" target="_blank"> 길찾기</a></div><br>');

                $('.link1').prop('href', link);
                $('.link2').prop('href', link2);
            }

        }

        //정비소 인포윈도우 생성
        function setRepairShopInfowindow(infowindow, name, roadAddress, phonenumber, latitude, longtitude)
        {
            var link = "https://map.kakao.com/link/map/" + name +","+latitude+","+longtitude;
            infowindow.setContent('<div align="center" style="padding:5px;font-size:15px;">'+ name + "<br>" + '</div>' +
                '<div style="padding:5px;font-size:12px;">' + '<strong>도로명주소 : </strong>'  + roadAddress + "<br>" + '</div>' +
                '<div style="padding:5px;font-size:12px;">' + '<strong>전화번호 : </strong>'  + '<a style="color:#009900;">' +phonenumber+'</a>'+ "<br>" + '</div>' +
                '<div><a class="link1" href="" style="color:blue; border: 1px solid cadetblue;" target="_blank" >큰지도보기 </a> <a class="link2" href="" style="color:blue; border: 1px solid cadetblue;" target="_blank"> 길찾기</a></div><br>');

            $('.link1').prop('href', link);
            $('.link2').prop('href', link2);
        }

    </script>
</div>

</body>
</html>