<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>충전소가 필요해요!</title>
</head>

<body>
<th:block th:replace="/header"></th:block>
<div class="map_wrap">
    <div id="map" style="width:100%;height:900px;"></div>
    <div id="menu_wrap" class="bg_white">
        <div class="option">
            전기차 충전소가 필요하다고 생각되는 곳이 있으신가요? <br>
            있으시다면 지도를 클릭하여 마커를 생각해주세요! <br>
            다른 분들이 생성한 마커에 공감을 클릭하여 지지할 수 있습니다! <br>
        </div>

        <div class="option" style="font-size: 15px; text-align: left">
            <br>
            <br>
            <div id="clickedAddress"><strong>클릭한 곳의 주소 :  </strong><br>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 4 // 지도의 확대 레벨
            };

        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
        var mapTypeControl = new kakao.maps.MapTypeControl();

        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        var preInfowindow;

        //마커 생성을 위한 객체
        var marker = new kakao.maps.Marker();

        var infowindow = new kakao.maps.InfoWindow({zIndex: 1, removable: true});

        // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
        if (navigator.geolocation) {

            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function(position) {

                var lat = position.coords.latitude, // 위도
                    lon = position.coords.longitude; // 경도

                var locPosition = new kakao.maps.LatLng(lat, lon);

                map.setCenter(locPosition);

            });

        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

            var locPosition = new kakao.maps.LatLng(33.450701, 126.570667);

            map.setCenter(locPosition);
        }

        displayMarkers();

        //지도에 클릭이벤트를 등록합니다.
        //클릭이벤트트
        kakao.maps.event.addListener(map, 'click', function (mouseEvent) {

            // 클릭한 위도, 경도 정보를 가져옵니다
            var latlng = mouseEvent.latLng;

            var latnum = latlng.getLat();
            var lngnum = latlng.getLng();

            var iwContent = '<div style="padding:5px; width: 300px; height: 200px;">이곳에 전기차 충전소가 필요하신가요?' +
                '<div> <form action="/EVStationMarkerCreate" method="get"> <textarea name="Comment" style="resize: none; width: 100%; height: 120px;" placeholder="의견이 있다면 적어주세요."></textarea>' +
                '<button type="submit" class="btn btn-dark" style="width: 100%;"> 등록하기!</button> ' +
                '<input type="text" id="latitude" name="latitude" style="visibility: hidden">' +
                '<input type="text" id="longitude" name="longitude" style="visibility: hidden">' +
                '<input type="text" name="RecommendationCount" value="0" style="visibility: hidden">' +
                '</form> </div>' +
                '</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                iwPosition = new kakao.maps.LatLng(latlng.getLat(), latlng.getLng()), //인포윈도우 표시 위치입니다
                iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

            //이미 인포윈도우가 켜져 있으면 인포윈도우 삭제하기
            if (preInfowindow) {
                preInfowindow.close();
            }

            // 인포윈도우를 생성하고 지도에 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                map: map, // 인포윈도우가 표시될 지도
                position: iwPosition,
                content: iwContent,
                removable: iwRemoveable
            });

            document.getElementById("latitude").value = String(latnum);
            document.getElementById("longitude").value = String(lngnum);

            preInfowindow = infowindow;

            var clickedAddress = document.getElementById('clickedAddress');

            //clickedAddress.innerHTML = result[i].address_name;

            searchDetailAddrFromCoords(mouseEvent.latLng, function (result, status) {
                if(status === kakao.maps.services.Status.OK) {
                    var detailAddr = !!result[0].road_address ?  '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                    detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';

                    clickedAddress.innerHTML = '<strong>클릭한 곳의 주소 : </strong><br>' + detailAddr;

                    //마커를 생성하는 함수들
                    /*marker.setPosition(mouseEvent.latLng);
                    marker.setMap(map);*/
                }
            });

        });

        function searchDetailAddrFromCoords(coords, callback) {
            // 좌표로 법정동 상세 주소 정보를 요청합니다
            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
        }

        function displayMarkers() {

            //console.log(keyword.length);

            var bounds = new kakao.maps.LatLngBounds();

            var markerlist = [[${markers}]];

            console.log(markerlist.length);

            for (var i = 0; i < markerlist.length; i++) {
                var EVRequestMarker = markerlist[i];

                console.log(EVRequestMarker);

                var placePosition = new kakao.maps.LatLng(EVRequestMarker['latitude'], EVRequestMarker['longitude']),
                    marker = addMarker(placePosition);

                console.log("마커아이디:"+EVRequestMarker['id'] +"마커 위도 : " + EVRequestMarker['latitude'] + " 경도 : " + EVRequestMarker['longitude'] + " 코멘트 : " + EVRequestMarker['markerComment']);

                bounds.extend(placePosition);

                (function (marker, comment, RecommendationCount,id) {
                    kakao.maps.event.addListener(marker, 'mouseover', function () {
                        displayInfowindow(marker, comment);
                    });

                    /*kakao.maps.event.addListener(marker, 'mouseout', function() {

                        infowindow.close();
                    });*/

                    //마커 클릭 이벤트, 마커의 위도 경도 나타냄
                    kakao.maps.event.addListener(marker, 'click', function () {

                        //html로 표시될 인포 윈도우의 내용
                        console.log(id+""+comment + " " + RecommendationCount);

                        setInfowindow(infowindow, comment, RecommendationCount,id);

                    });
                })(marker, EVRequestMarker['markerComment'], EVRequestMarker['recommendationCount'],EVRequestMarker['id']);

                // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                // 불러온 가게 DB의 개수가 0개 일때 재설정 하면 카카오맵이 사라짐
                map.setBounds(bounds);

            }
        }

        function displayInfowindow(marker, comment) {
            var content = '<div style="padding:5px;z-index:1;">' + comment + '</div>';

            infowindow.setContent(content);
            infowindow.open(map, marker);
        }

        function addMarker(position) {
            marker = new kakao.maps.Marker({
                position: position, // 마커의 위치
            });

            marker.setMap(map); // 지도 위에 마커를 표출합니다
            //markers.push(marker);  // 배열에 생성된 마커를 추가합니다

            return marker;
        }


        function setInfowindow(infowindow, comment, recommendationCount, id)
        {
            infowindow.setContent('<div align="center" style="padding:5px;font-size:15px;">'+ "충전소가 필요해요!<br>" + "<Strong>코멘트 : </Strong>" + comment + "<br>" + '</div>' +
                '<div style="padding:5px;font-size:12px;">' + '공감수 : ' + recommendationCount + "<br>" + '</div>' +
                '<div>  <button type="submit" class="btn btn-dark" style="width: 100%;" onclick="clickRecomentationButton('+id+','+recommendationCount+')">공감!</button> <br> </div>');
        }

        //공감 버튼 클릭시
        function clickRecomentationButton(id,recommendationCount)
        {
            $.ajax({
                url: "/RequestEVStationMap/update",
                type: "GET",
                async: false,
                data: {
                    id:id,
                    count:recommendationCount,
                },
            })
                .done(function(resMap) {
                    alert("추천하였습니다.");
                    location.reload();
                });
        }

    </script>
</div>

</body>
</html>